/* write your override styles here */

*{
  margin: auto;
}
#tag-2 {
  display: none;
}

#tag-3 {
  width: auto;
}

.parent {
  background-color: red;
  width: auto;
  margin: auto;
  height: 500px
}
